/*
    Document   : design
    Created on : Aug 5, 2011, 3:16:35 PM
    Author     : ZodiacDM
    Description:
        Stylesheet specifically for the designer page
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

/*------------------- Frame Choices --------------------*/
div#ImageWrapper {
	z-index: 200;
}
div.DetailsWrapper {
	position: relative;
}
div.DetailsWrapper div#FrameWrapper {
	position: absolute;
	left: -20px;
	top: -20px;
	width: 340px;
	min-height: 340px;
	z-index: 300;
}
div.Dragging div#FrameWrapper  {
	left: -20px;
	top: -20px;
	z-index: 350;
}
ul.Frames {

}
li#Click {
	border: 1px solid #CCC;
	cursor: pointer;
	float: left;
	padding: 3px 5px;
	width: 140px;
}
div#Custom li.Active {
	color: #0063DC;
	box-shadow: 0px 0px 3px #333;
-moz-box-shadow: 0px 0px 3px #333;
-webkit-box-shadow: 0px 0px 3px #333;
}
li#Click:hover {
	color: #0063DC;
	box-shadow: 0px 0px 3px #333;
-moz-box-shadow: 0px 0px 3px #333;
-webkit-box-shadow: 0px 0px 3px #333;
}
div.PewterFrame {
	background: url('/uploads/item/frames/pewter.png') no-repeat center center;
}
div.GoldEmblemFrame {
	background: url('/uploads/item/frames/goldemblem.png') no-repeat center center;
}
div.TraditionalFrame {
	background: url('/uploads/item/frames/traditional.png') no-repeat center center;
}
div.ModernFrame {
	background: url('/uploads/item/frames/modern.png') no-repeat center center;
}
div.WoodFrame {
	background: url('/uploads/item/frames/wood.png') no-repeat center center;
}
div.GoldLeafFrame {
	background: url('/uploads/item/frames/goldleaf.png') no-repeat center center;
}
li.Selection {
	clear: both;
}
/*-------------------------------------- Designer Page ----------------------------------*/
div#DesignBox,
div#ResizeBox{
	position: relative;
	border: 1px solid #CCC;
	background: #F0DE7D;
	width: 600px;
	height: 600px;
	margin: 25px auto;
	z-index: 0;
}
div#DesignBox img {
	position: absolute;
}
div#DesignBox img.Background {
	z-index: -1;
}
div#DesignBox img.Individual {
	z-index: 2;
}
div#DesignBox img.Border {
	left: -14px;
	top: -14px;
	z-index: 0;
}
input#SubmitProjectCheck {
	margin: 0px auto;
}
div.MessageDisplay {
	text-align: center;
}
img#Text {
	display: inline;
}
div#Color {
	border: 1px solid #CCC;
	width: 10px;
	height: 10px;
}
div.White {
	background: #FFF;
}
div.Black {
	background: #000;
}
div.Zoom {
	position: absolute;
	margin: 25px 0 0 ;
	float: left;
	width: 20px;
	height: 600px;
	border: 1px solid #CCC;
}
div.Slider {
	width: 20px;
	height: 60px;
	background: #CCC;
}
/*--------------------------------------- Text Page --------------------------------------*/
div.Yellow {
	background: #F0DE7D;
	width: 100%;
}
img.TextImage {
	position: relative;
	max-width: 680px;
	margin: 0px auto;
}
table.Font td {
	padding: 5px;
}