/*
    Document   : projectbox.css
    Created on : Aug 26, 2011, 1:32:29 PM
    Author     : ZodiacDM
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}
#Project {
	width: auto;
	background: none;
	z-index: 100;
	padding: 5px 2px;
}
.ProjectBox,
.UploadBox {
	position: relative;
	margin: 10px 5px 0;
	left: 0px;
	z-index: 30;
	min-height: 100px;
}
#UploadItems img,
#ProjectItems img {
	margin: 5px;
}
ul.Project {
	margin: 10px;
}
ul.Project img {
	height: 100px;
	width: 100px;
	margin: 0 auto;
}
ul.Active {
	background: #e6e6e6;
}
ul.Project li.Float {
	min-width: 330px;
	float: left;
}
.ProjectBox table {
	border: 1px solid #CCC;
}
.ProjectBox table th {
	border-top: 1px solid #CCC;
	font-size: 110%;
	padding: 4px;
	text-align: center;
}
.ProjectBox table td {
	text-align: center;
}
div.ProjectWrapper {
	position: relative;
}
.ProjectBox table td div#UploadWrapper {
	float: left;
	max-width: 108px;
}
img.FrameSmall {
	display: block;
	width: 117px;
	height: 117px;
	top: -9px;
	left: 45px;
}
body.Gallery img.FrameSmall {
	top: 180px;
	left: -6px;
}
/*---------------------------- All Projects Page -----------------------*/
div#ProjectPage table {
	float: left;
	width: 200px;
}
div#ProjectPage table td,
div#ProjectPage table th {
	text-align: center;
}
div.Active {
	background: #e6e6e6;
}
/*----------------------------- Side Panel -----------------------------*/
h4.Toggle {
	font-weight: bold;
	background: url('/applications/galleries/design/images/icons/32/communication.png') no-repeat right center;
	cursor: pointer;
	padding: 5px;
	color: #0063dc;
	line-height: 2.0;
	margin: 5px 0 10px;
}
div.MessageDisplay {
	border: 1px solid #CCC;
}
/*---------------------------------- Tabs -------------------------------*/
div.Tabs li a.View {
	float: right;
	padding: 0px;
	text-align: center;
}
div.Tabs li a.Show {
	padding: 7px 7px;
	margin: 0px 0px;
}
.ProjectBox td.Background {
	position: inherit;
}