/*
    Document   : projectbox.css
    Created on : Aug 26, 2011, 1:32:29 PM
    Author     : ZodiacDM
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}
#Project {
	width: auto;
	background: none;
	z-index: 100;
	padding: 5px 2px;
}
.ProjectBox {
	position: relative;
	margin: 10px 5px 0;
	padding: 20px 0 0;
	top: -25px;
	left: 0px;
	z-index: 30;
	min-height: 100px;
}
#UploadItems img,
#ProjectItems img {
	margin: 5px;
}
ul.Project {
	margin: 10px;
}
ul.Project img {
	height: 100px;
	width: 100px;
	margin: 0 auto;
}
ul.Active {
	background: #e6e6e6;
}
ul.Project li.Float {
	min-width: 330px;
	float: left;
}
.ProjectBox table {
	border: 1px solid #CCC;
}
.ProjectBox table th {
	border-top: 1px solid #CCC;
	font-size: 110%;
	padding: 4px;
	text-align: center;
}
.ProjectBox table td {
	text-align: center;
}
div.ProjectWrapper {
	position: relative;
}
img.FrameSmall {
	position: absolute;
	width: 117px;
	height: 117px;
	top: -10px;
	left: 45px;
}
body.Gallery img.FrameSmall {
	top: 180px;
	left: -6px;
}

/*---------------------------------- Tabs -------------------------------*/
div.Tabs li a.View {
	float: right;
	padding: 0px;
	text-align: center;
}
div.Tabs li a.Show {
	padding: 7px 7px;
	margin: 0px 0px;
}
.ProjectBox td.Background {
	position: inherit;
}