/*
    Document   : projectbox.css
    Created on : Aug 26, 2011, 1:32:29 PM
    Author     : ZodiacDM
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}
.ProjectBox div,
.ButtonBox div {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
/*---------------------------- All Projects Page -----------------------*/
div#ProjectPage table {
	float: left;
	width: 200px;
}
div#ProjectPage table td,
div#ProjectPage table th {
	text-align: center;
}
div.Active {
	background: #e6e6e6;
}
/*----------------------------- Side Panel -----------------------------*/
Project {
	width: auto;
	background: none;
	z-index: 100;
	padding: 5px 2px;
}
.ProjectBox,
.UploadBox {
	position: relative;
	margin: 10px 5px;
	left: 0px;
	z-index: 30;
	overflow: hidden;
}
#UploadItems img,
#ProjectItems img {
	margin: 5px;
}
.UploadRemove {
	vertical-align: bottom;
}
.ProjectBox table {
	width: 220px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.ProjectBox table th {
	border-bottom: 1px solid #CCC;
	font-size: 110%;
	padding: 4px;
	text-align: center;
	cursor: pointer;
	color: #696952;
}
.ProjectBox table th.Grey {
	color: #6C6C6C;
}
.ProjectBox table td {
	text-align: center;
	padding: 5px;
	overflow: hidden;

}
div.ProjectWrapper {
	position: relative;
	margin: 10px 0;
}
img.FrameSmall {
	position: absolute;
	display: block;
	width: 117px;
	height: 117px;
	top: -9px;
	left: 44px;
}
body.Gallery img.FrameSmall {
	left: 38px;
}
div.TabWrapper {
	margin: 0px auto;
	padding: 5px;
	padding-left: 11px;
}
div.TabBox {
	width: 62px;
	height: 60px;
	margin: 3px;
	border: 1px solid #ff7c25;
	float: left;
	cursor: pointer;
	font-size: 80%;
	vertical-align: bottom;
}
div.TabBox:hover {
	border: 2px solid #D95252;
	margin: 2px;
}
div#Text {
	padding-left: 2px;
	width: 200px;
	height: 40px;
}
h4.Toggle {
	font-weight: bold;
	background: url('/applications/galleries/design/images/icons/32/communication.png') no-repeat right center;
	cursor: pointer;
	padding: 5px;
	color: #0063dc;
	line-height: 1.6;
	margin: 5px 0 10px;
}
div.MessageDisplay {
	clear: both;
	padding: 10px;
}
.ProjectBox table td div#UploadWrapper {
	float: left;
	max-width: 100px;
}
.ProjectBox h2 {
	border-bottom: 1px solid #CCC;
	line-height: 1;
	padding: 15px 5px 5px;
}
img.TextBox {
	max-width: 200px;

}
/*---------------------------------- Tabs -------------------------------*/
div.Tabs li a.View {
	float: right;
	padding: 0px;
	text-align: center;
}
div.Tabs li a.Show {
	padding: 7px 7px;
	margin: 0px 0px;
}
.ProjectBox td.Background {
	position: inherit;
}